*{
    margin: 10px;
    padding: 0;

}

.container{
    width: 900px;
    height: 600px;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}